#%Module######################################################################
proc ModulesHelp { } {
        puts stderr "Set environment veriables for g2c"
}

set sys         [uname sysname]
set NCEPLIBS      _CWD_
set ver v1.5.0
set lname g2c
set dlib $NCEPLIBS
set bname G2C
set COMP intel
set path $NCEPLIBS

setenv ${bname}_SRC  $dlib/sorc/${lname}_${ver}
setenv ${bname}_LIB4 $dlib/libs/${lname}_${ver}/lib${lname}_${ver}_4.a 
setenv LIB_NAME ${bname} 
setenv ${bname}_VER $ver

